
                         ── 游戏规则 ──

「西游记」的规矩不多，但希望大家严格遵守。

□ 故意破坏本游戏运行的玩家，将被宣布为不受欢迎者，而相关IP将会
   被拒绝连线。

□ 在游戏范围内，造谣生事，巧取豪夺，杀人放火等都是允许的。但严
   禁进行超出游戏范围的人身攻击。

□ 利用 Bug 及 Multi-Login 牟利或练功者，被抓到了就白辛苦了:(

□ 禁止泄漏有关游戏中谜题、机关、陷阱解法。

□ 一般处罚可由巫师视情形执行，清除档案之惩罚须由巫师会议协商决定。

□ 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可在留言
   板申诉。

□ 除恶意中伤本游戏，巫师及其他玩家的留言外，所有留言将按时间顺
   序更新，巫师不得随意删除。注意：胡言乱语不知所云以及反复重贴
   的留言不在此条保护之列。

巫师除了以上的规则都必须遵守外，尚须遵守巫师规则(见 help wiz_rules)，
欢迎您随时检举违规的巫师。

〖西游记〗
